<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jjak0b.android.trackingmypantry">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- Used by Leku -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" /> <!-- TODO: remove unnecessary due to min sdk -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-feature android:name="android.hardware.location.gps" android:required="false"  />
    <uses-feature android:name="android.hardware.camera.any" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackingMyPantry">

        <meta-data
            android:name="com.mapbox.API_KEY"
            android:value="${MAPBOX_ACCESS_TOKEN}" />
<!--
        <activity
            android:name="com.schibstedspain.leku.LocationPickerActivity"
            android:label="@string/leku_title_activity_location_picker"
            android:theme="@style/Theme.TrackingMyPantry.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/leku_searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
-->
        <activity
            android:name=".ui.maps.PlacesPluginActivity"
            android:label="Places"
            android:theme="@style/Theme.TrackingMyPantry.NoActionBar" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:label="@string/title_activity_auth"
            android:theme="@style/Theme.TrackingMyPantry.NoActionBar" />
        <activity
            android:name=".BarcodeScannerActivity"
            android:theme="@style/Theme.TrackingMyPantry.NoActionBar" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name"
            android:theme="@style/Theme.TrackingMyPantry.NoActionBar">
        </activity>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.TrackingMyPantry.SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.AuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".services.ExpireDateSyncService"
            android:enabled="true"
            android:exported="true">

            <!--
                normally the service tag should contains android:process=":sync" attribute
                but Xiaomi devices have issues with this field, so i just remove removing it
            -->
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>